## Geeks-for-Geeks List program python questions
https://www.geeksforgeeks.org/python-programming-examples/

In [ ]:
# Q1 Python program to interchange first and last elements in a list

def interchange_ele(l):
  l[0], l[-1] = l[-1], l[0]
  return(print(f'The final list is: {l}'))

# Taking the list as user input
n = int(input('Enter the number of elemets of the list: '))
l1 = []
for i in range(0, n):
  e = int(input())
  l1.append(e)
print(f'The given list is: {l1}')

interchange_ele(l1)

Enter the number of elemets of the list: 5
1
3
5
7
9
The given list is: [1, 3, 5, 7, 9]
The final list is: [9, 3, 5, 7, 1]

In [ ]:
# Q2 Python program to swap two elements in a list

def swap_ele(l, pos1, pos2):
  l[pos1], l[pos2] = l[pos2], l[pos1]
  return(print(f'The final list after swapping is: {l}'))

# Taking the list as user input
n = int(input('Enter the number of elemets of the list: '))
l1 = []
for i in range(0, n):
  e = int(input())
  l1.append(e)
print(f'The given list is: {l1}')

position1 = int(input('Enter the first position of the list to be swapped: '))
position2 = int(input('Enter the second position of the list to be swapped: '))

swap_ele(l1, position1, position2)

Enter the number of elemets of the list: 5
2
4
6
8
10
The given list is: [2, 4, 6, 8, 10]
Enter the first position of the list to be swapped: 2
Enter the second position of the list to be swapped: 3
The final list after swapping is: [2, 4, 8, 6, 10]

In [ ]:
# Q3 Python | Ways to find length of list

def list_len(l1):
  count = 0
  for i in l1:
    count += 1
  return(print(f'The length of the list is: {count}'))

l = [2, 3, 4, 5, 6]

list_len(l)

The length of the list is: 5

In [ ]:
# Q4 Python | Ways to check if element exists in list

def ele_check(lst, e):
  if e in lst:
    (print(f'{e} is present in the list'))
  else:
    print((f'{e} is not present in the list'))

# Taking the list as user input
n = int(input('Enter the number of elemets of the list: '))
l1 = []
for i in range(0, n):
  e = int(input())
  l1.append(e)
print(f'The given list is: {l1}')

n = int(input('Enter the number to find in the list: '))

ele_check(l1, n)

Enter the number of elemets of the list: 5
2
4
6
8
10
The given list is: [2, 4, 6, 8, 10]
Enter the number to find in the list: 8
8 is present in the list

In [ ]:
# Q5 Different ways to clear a list in Python

def list_clear(lst):
  lst.clear()
  return(print(f'The final list is: {lst}'))

l1 = [2, 3, 4, 5, 6]
list_clear(l1)

The final list is: []

In [ ]:
# Q6 Python | Reversing a List

def list_reverse(lst):
  lst = lst[::-1]
  print(f'The Reversed list is: {lst}')

def list_reverse2(lst):
  k = []
  for i in range(1, len(lst)):
    k.append(lst[-i])
  k.append(lst[0])
  print(f'The reversed list is: {k}')


l1 = [2, 3, 4, 5, 6]

list_reverse2(l1)

The reversed list is: [6, 5, 4, 3, 2]

In [ ]:
# Q7 Python program to find sum of elements in list

def list_sum(lst):
  sum = 0
  for i in lst:
    sum += i
  print(f'The sum of the elements of the list is: {sum}')

l1 = [2, 3, 4, 5, 6]
list_sum(l1)

The sum of the elements of the list is: 20

In [ ]:
# Q8 Python | Multiply all numbers in the list

def list_prod(lst):
  prod = 1
  for i in lst:
    prod *= i
  print(f'The product of all the elements of the lit is: {prod}')

l1 = [2, 3, 4, 5, 6]
list_prod(l1)

The product of all the elements of the lit is: 720

In [ ]:
# Q9 Python program to find smallest number in a list

def list_small(lst):
  ele = lst[0]
  for i in lst:
    if i < ele:
      ele = i
  print(f'The smallest number in the given list is: {ele}')

l1 = [3, 4, 5, 6, -7, -10, 2, 0]
list_small(l1)

The smallest number in the given list is: -10

In [ ]:
# Q10 Python program to find largest number in a list

def list_large(lst):
  ele = lst[0]
  for i in lst:
    if i > ele:
      ele = i
  print(f'The largest number of the given list is: {ele}')

l1 = [3, 4, 5, 6, -7, -10, 2, 0]
list_large(l1)

The largest number of the given list is: 6

In [ ]:
# Q11 Python program to find second largest number in a list

def list_sec_large(lst):
  print(f'The Second largest number in the list is: {sorted(lst)[-2]}')

l1 = [3, 4, 5, 6, -7, -10, 2, 0]
list_sec_large(l1)

The Second largest number in the list is: 5

In [ ]:
# Q12 Python program to find N largest elements from a list

def list_n_large(lst, n):
  print(f'The nth largest number in the list is: {sorted(lst)[-n]}')

l1 = [3, 4, 5, 6, -7, -10, 2, 0]
n = int(input('Enter the value of n: '))
list_n_large(l1, n)

Enter the value of n: 3
The nth largest number in the list is: 4

In [ ]:
# Q13 Python program to print even numbers in a list

def list_even(lst):
  new_lst =[]
  for i in lst:
    if i%2 == 0:
      new_lst.append(i)
  print(f'Even numbers in the list are: {new_lst}')

l1 = [3, 4, 5, 6, -7, -10, 2, 0]
list_even(l1)

Even numbers in the list are: [4, 6, -10, 2, 0]

In [ ]:
# Q14 Python program to print odd numbers in a List

def list_odd(lst):
  new_lst = []
  for i in lst:
    if i%2 != 0:
      new_lst.append(i)
  print(f'Odd numbers in the list areL {new_lst}')

l1 = [3, 4, 5, 6, -7, -10, 2, 0]
list_odd(l1)

Odd numbers in the list areL [3, 5, -7]

In [ ]:
# Q15 Python program to print all even numbers in a range

def even_range(r1, r2):
  new_lst = []
  for i in range(r1, r2+1):
    if i%2 == 0:
      new_lst.append(i)
  print(f'Even numbers in the range of {r1} & {r2} are: {new_lst}')

r1 = int(input(f'Enter the starting value of the range: '))
r2 = int(input(f'Enter the ending value of the range: '))
even_range(r1, r2)

Enter the starting value of the range: 3
Enter the ending value of the range: 14
Even numbers in the range of 3 & 14 are: [4, 6, 8, 10, 12, 14]

In [ ]:
# Q16 Python program to print all odd numbers in a range

def odd_range(r1, r2):
  new_lst = []
  for i in range(r1, r2+1):
    if i%2 != 0:
      new_lst.append(i)
  print(f'Odd numbers in the range of {r1} & {r2} are: {new_lst}')

r1 = int(input(f'Enter the starting value of the range: '))
r2 = int(input(f'Enter the ending value of the range: '))
odd_range(r1, r2)

Enter the starting value of the range: 2
Enter the ending value of the range: 15
Odd numbers in the range of 2 & 15 are: [3, 5, 7, 9, 11, 13, 15]

In [ ]:
# Q17 Python program to print positive numbers in a list

def list_pos(lst):
  new_lst = []
  for i in lst:
    if i>0:
      new_lst.append(i)
  print(f'Positive numbers in the list are: {new_lst}')

l1 = [3, 4, 5, 6, -7, -10, 2, 0]
list_pos(l1)

Positive numbers in the list are: [3, 4, 5, 6, 2]

In [ ]:
# Q18 Python program to print negative numbers in a list

def list_neg(lst):
  new_lst = []
  for i in lst:
    if i<0:
      new_lst.append(i)
  print(f'Negative numbers in the list are: {new_lst}')

l1 = [3, 4, 5, 6, -7, -10, 2, 0]
list_neg(l1)

Negative numbers in the list are: [-7, -10]

In [ ]:
# Q19 Python program to print all positive numbers in a range

def positive_range(r1, r2):
  new_lst = []
  for i in range(r1, r2+1):
    if i >= 0:
      new_lst.append(i)
  print(f'Postive numbers in the range of {r1} & {r2} are: {new_lst}')

r1 = int(input(f'Enter the starting value of the range: '))
r2 = int(input(f'Enter the ending value of the range: '))

positive_range(r1, r2)

Enter the starting value of the range: -7
Enter the ending value of the range: 6
Postive numbers in the range of -7 & 6 are: [0, 1, 2, 3, 4, 5, 6]

In [ ]:
# Q20 Python program to print all negative numbers in a range

def negative_range(r1, r2):
  new_lst = []
  for i in range(r1, r2+1):
    if i < 0:
      new_lst.append(i)
  print(f'Negative numbers in the range of {r1} & {r2} are: {new_lst}')

r1 = int(input(f'Enter the starting value of the range: '))
r2 = int(input(f'Enter the ending value of the range: '))

negative_range(r1, r2)

Enter the starting value of the range: -7
Enter the ending value of the range: 6
Negative numbers in the range of -7 & 6 are: [-7, -6, -5, -4, -3, -2, -1]

In [21]:
# Q21 Remove multiple elements from a list in Python

def remove_ele(lst, rm_lst):
  new_lst = lst.copy()
  for i in lst:
    if i in rm_lst:
      new_lst.remove(i)
  print(new_lst)

l1 = [3, 4, 5, 6, -7, -10, 2, 3, 0]
l2 = [3, 4]
remove_ele(l1, l2)

[5, 6, -7, -10, 2, 0]

In [22]:
# Q22 Python – Remove empty List from List

def remove_empty_lst(lst):
  new_lst = []
  for i in lst:
    if i != []:
      new_lst.append(i)
  print(f'The list without the empty list is: {new_lst}')

l1 = [3, 4, 5, 6, -7, [], -10, 2, [], 3, 0]
remove_empty_lst(l1)

The list without the empty list is: [3, 4, 5, 6, -7, -10, 2, 3, 0]

In [24]:
# Q23 Python | Cloning or Copying a list

def list_copy(lst):
  new_lst = []
  for i in lst:
    new_lst.append(i)
  print(f'The cloned list is: {new_lst}')

l1 = [3, 4, 5, 6, -7, [], -10, 2, [3], 3, 0]
list_copy(l1)

The cloned list is: [3, 4, 5, 6, -7, [], -10, 2, [3], 3, 0]

In [26]:
# Q24 Python | Count occurrences of an element in a list

def list_count(lst, ele):
  count = 0
  for i in lst:
    if i == ele:
      count += 1
  print(f'The number of times {ele} is repeated in list is: {count}')

l1 = [3, 4, 5, 6, 3, -7, [], -10, 2, [3], 3, 0, 3]
list_count(l1, 3)

The number of times 3 is repeated in list is: 4

In [27]:
# Q25 Python | Remove empty tuples from a list

def remove_empty_tuples(lst):
  new_lst = []
  for i in lst:
    if i != ():
      new_lst.append(i)
  print(f'The list without the empty tuple is: {new_lst}')

l1 = [3, 4, 5, 6, (), -7, [], -10, 2, [], (), 3, 0]
remove_empty_tuples(l1)

The list without the empty tuple is: [3, 4, 5, 6, -7, [], -10, 2, [], 3, 0]

In [50]:
# Q26 Python | Program to print duplicates from a list of integers

def list_dup(lst):
  new_lst = []
  copy_lst = lst.copy()
  for i in lst:
    copy_lst.remove(i)
    if i in copy_lst:
      new_lst.append(i)
  print(f'The list containing the duplicate elements is: {list(set(new_lst))}')

l1 = [3, 4, 5, 6, 0, (), 0, -7, -10, 2, (), 3, -7, 0]
list_dup(l1)

The list containing the duplicate elements is: [0, -7, 3, ()]

In [54]:
# Q27 Python program to find Cumulative sum of a list

def list_cumulative(lst):
  new_lst = []
  count = 0
  for i in lst:
    count += i
    new_lst.append(count)
  print(f'The cumulative sum of list is: {new_lst}')

l1 = [3, 4, 5, 6, 0, 0, -7, -10, 2, 3, -7, 0]
list_cumulative(l1)

The cumulative sum of list is: [3, 7, 12, 18, 18, 18, 11, 1, 3, 6, -1, -1]

In [85]:
# Q28 Python | Sum of number digits in List

def list_num_digit(lst):
  new_lst = []
  for i in lst:
    count = 0
    var = str(i)
    for j in var:
      count += int(j)
    new_lst.append(count)
  print(f'The list with sum of number digits is: {new_lst}')

l1 = [23, 24, 56, 3, 222]
list_num_digit(l1)

The list with sum of number digits is: [5, 6, 11, 3, 6]

In [96]:
# Q29 Break a list into chunks of size N in Python

def list_chunk(lst, size):
  new_lst = []
  for i in range(0, len(lst), size):
    new_lst.append(lst[i:i+size])
  print(f'The list with chunks of list with size {size} is: {new_lst}')

l1 = [3, 4, 5, 6, 0, (), 0, -7, -10, 2, (), 3, -7, 0]
n = int(input('Enter the size if the chunks in the list: '))
list_chunk(l1, n)

Enter the size if the chunks in the list: 3
The list with chunks of list with size 3 is: [[3, 4, 5], [6, 0, ()], [0, -7, -10], [2, (), 3], [-7, 0]]

In [100]:
# Q30 Python | Sort the values of first list using second list

def list_sort(lst1, lst2):
  new_lst = list(set(lst2))
  new_lst.sort()
  new_lst2 = []
  for i in new_lst:
    for j in range(0, len(lst2)):
      if (lst2[j] == i):
        new_lst2.append(lst1[j])
  print(new_lst2)

list1 = ["abc", "bc", "cde", "de", "ef", "fg", "gh", "hij", "ijk"]
list2 = [0, 1, 1, 0, 1, 2, 2, 0, 1]
list_sort(list1, list2)

['abc', 'de', 'hij', 'bc', 'cde', 'ef', 'ijk', 'fg', 'gh']