## Geeks-for-Geeks Dictionary program python questions
https://www.geeksforgeeks.org/python-programming-examples/

In [ ]:
# Q1 Python – Extract Unique values dictionary values

def unique_val_dict(d):
  l1 = list(d.values())
  l2 = []
  for i in l1:
    for j in i:
      l2.append(j)
  print(f'The list of unique set of values from the given dictionary is: {list(set(l2))}')

di = {'abc': [5, 6, 7, 8], 'def': [10, 11, 7, 5], 'hij': [3, 4, 5, 6]}
unique_val_dict(di)

The list of unique set of values from the given dictionary is: [3, 4, 5, 6, 7, 8, 10, 11]

In [ ]:
# Q2 Python program to find the sum of all items in a dictionary

def dict_sum(d):
  sum = 0
  for i in d.values():
    for j in i:
      sum += j
  print(f'The sum of all the items of the given dictionary is: {sum}')

di = {'abc': [5, 6, 7, 8], 'def': [10, 11, 7, 5]}
dict_sum(di)

The sum of all the items of the given dictionary is: 59

In [ ]:
# Q3 Python | Ways to remove a key from dictionary

def dict_remove(d, item):
  d2 = d.copy()
  for i in d:
    if i == item:
      del d2[i]
  print(f'The dictionary after removing the said disctionary is: {d2}')

# Method 2
def dict_remove2(d, item):
  d2 = d.copy()
  for i in d:
    if i == item:
      d2.pop(i)
  print(f'The dictionary after removing the said disctionary is: {d2}')


di = {'abc': [5, 6, 8], 'def': [10, 11, 5], 'hij': [3, 4, 6], 'lmn': [23, 45, 1]}
remove_item = 'hijh'
dict_remove2(di, remove_item)

The dictionary after removing the said disctionary is: {'abc': [5, 6, 8], 'def': [10, 11, 5], 'lmn': [23, 45, 1]}

In [ ]:
# Q4 Ways to sort list of dictionaries by values in Python – Using itemgetter

def list_dict_sort(l, param):
  l1 = []
  for i in l:
    l1.append(i[param])
  l1.sort()
  l2 = []
  for i in l1:
    for j in l:
      if j[param] == i:
        l2.append(j)
  return l2


# Method 2
from operator import itemgetter

def list_dict_sort2(l, param):
  return sorted(l, key=itemgetter(param))


s = [{'age': 19, 'name': 'Nikhil'}, {'age': 25, 'name': 'Nandini2'}, {'age': 2, 'name': 'Nandini3'}, {'age': 14, 'name': 'Manjeet'}]

print(f'The sorted list of dictionaries by the age parameter is: {list_dict_sort2(s, "age")}')

The sorted list of dictionaries by the age parameter is: [{'age': 2, 'name': 'Nandini3'}, {'age': 14, 'name': 'Manjeet'}, {'age': 19, 'name': 'Nikhil'}, {'age': 25, 'name': 'Nandini2'}]

In [ ]:
# Q5 Ways to sort list of dictionaries by values in Python – Using lamdba

from operator import itemgetter

def list_dict_sort3(l, param):
  return sorted(l, key=lambda i: i[param])

s = [{'age': 19, 'name': 'Nikhil'}, {'age': 25, 'name': 'Nandini2'}, {'age': 2, 'name': 'Nandini3'}, {'age': 14, 'name': 'Manjeet'}]

print(f'The sorted list of dictionaries by the age parameter is: {list_dict_sort3(s, "age")}')

The sorted list of dictionaries by the age parameter is: [{'age': 2, 'name': 'Nandini3'}, {'age': 14, 'name': 'Manjeet'}, {'age': 19, 'name': 'Nikhil'}, {'age': 25, 'name': 'Nandini2'}]

In [ ]:
# Q6 Python | Merging two Dictionaries

def dict_merge(d1, d2):
  d3 = d1.copy()
  for i in d2.keys():
    d3[i]=d2[i]
  print(f'The final dictionary after merging the given 2 dictionaries is: {d3}')

# Method 2
def dict_merge2(d1, d2):
  res = {**d1, **d2}
  print(f'The final dictionary after merging the given 2 dictionaries is: {res}')

# Method 3
def dict_merge3(d1, d2):
  res = d1 | d2
  print(f'The final dictionary after merging the given 2 dictionaries is: {res}')

# Method 4
def dict_merge4(d1, d2):
  d3 = d1.copy()
  d3.update(d2)
  print(f'The final dictionary after merging the given 2 dictionaries is: {d3}')


di1 = {'abc': [5, 6, 8], 'def': [10, 11, 5]}
di2 = { 'hij': [3, 4, 6], 'lmn': [23, 45, 1]}
dict_merge4(di1, di2)

The final dictionary after merging the given 2 dictionaries is: {'abc': [5, 6, 8], 'def': [10, 11, 5], 'hij': [3, 4, 6], 'lmn': [23, 45, 1]}

In [ ]:
# Q7 Python – Convert key-values list to flat dictionary
# {'month': [1, 2, 3], 'name': ['Jan', 'Feb', 'March']} Flattened dictionary : {1: 'Jan', 2: 'Feb', 3: 'March'}

def dict_flat(d):
  d2 = {}
  for i in range(len(list(d.values())[0])):
    d2[list(d.values())[0][i]] = list(d.values())[1][i]
  print(f'The flattened dictionary is: {d2}')

di = {'month': [1, 2, 3], 'name': ['Jan', 'Feb', 'March']}
dict_flat(di)

The flattened dictionary is: {1: 'Jan', 2: 'Feb', 3: 'March'}

In [ ]:
# Q8 Python – Insertion at the beginning in OrderedDict

def dict_insert_begin(d, items):
  final_dict = {}
  for i, j in d.items():
    i, j = items[0], items[1]
    final_dict[i] = j
  for i in d.keys():
    final_dict[i] = d[i]
  print(f'1. The final dictionary after inserting the given items "{items}" at the beginning of the dictionary is: {final_dict}')

# Method 2
def dict_insert_begin2(d, items):
  keys = list(d.keys())
  values = list(d.values())
  for i in items:
    keys.insert(0, i[0])
    values.insert(0, i[1])
  d = dict(zip(keys, values))
  print(f'2. The final dictionary after inserting the given items "{items}" at the beginning of the dictionary is: {d}')


# Method 3
from collections import OrderedDict
iniordered_dict = OrderedDict([('akshat', '1'), ('nikhil', '2')])
iniordered_dict.update({'manjeet': '3'})
iniordered_dict.move_to_end('manjeet', last=False)
print("Resultant Dictionary : "+str(iniordered_dict))


dict1 = {'a':1, 'b':2}
items_insert = ('c', 3)

dict_insert_begin(dict1, items_insert)

1. The final dictionary after inserting the given items "('c', 3)" at the beginning of the dictionary is: {'c': 3, 'a': 1, 'b': 2}

In [ ]:
# Q9 Python | Check order of character in string
'''
string = "engineers rock"
pattern = "er";
Output: true
Explanation: All 'e' in the input string are before all 'r'.'''

def string_char(d):

In [ ]:
def check_order(string, pattern):
	i, j = 0, 0
	for char in string:
		if char == pattern[j]:
			j += 1
		if j == len(pattern):
			return True
		i += 1

	return False
string = 'engineeres roeck'
pattern = 'er'
print(check_order(string, pattern))

True

In [ ]:
string = "engineers rock"
pattern = 'er'

['e', 'n', 'g', 'i', 'n', 'e', 'e', 'r', 's', ' ', 'r', 'o', 'c', 'k']

In [ ]:
string.count('e')

3

In [ ]:
k = []
count = 0
for i in string:
  k.append(i)
  if i == 'e':
    count += 1
    if count == 3:
      k.append('-')
k2 = "".join(k)
print(k2)

['e', 'n', 'g', 'i', 'n', 'e', 'e', '-', 'r', 's', ' ', 'r', 'o', 'c', 'k']

In [15]:
s2 = k2.split('-')
s2

['enginee', 'rs rock']

In [16]:
count2 = 0
count3 = 0

for i in s2[0]:
  if i == 'r':
    count2 += 1
  else:
    pass
for i in s2[1]:
  if i == 'e':
    count3 += 1
  else:
    pass

if count2 == 0 and count3 == 0:
  print(True)
else:
  print(False)

True

In [20]:
str2 = "Explanation python"
pat2 = str(input('Enter the pattern to be found in order: '))
n = str2.count(pat2[0])
k = []
count = 0
for i in str2:
  k.append(i)
  if i == pat2[0]:
    count += 1
    if count == n:
      k.append('-')
k2 = "".join(k)
print(k2)
s2 = k2.split('-')

count2 = 0
count3 = 0

for i in s2[0]:
  if i == pat2[1]:
    count2 += 1
for i in s2[1]:
  if i == pat2[0]:
    count3 += 1

if count2 == 0 and count3 == 0:
  print(True)
else:
  print(False)

Enter the pattern to be found in order: at
Explana-tion python
True

2