## Geeks-for-Geeks python questions
https://www.geeksforgeeks.org/python-programming-examples/

In [ ]:
# Q1 Python program to add two numbers

def add_num(a,b):
  return(int(a)+ int(b))

a= input()
b= input()
print(add_num(a,b))

4
7
11

In [ ]:
# Q2 Maximum of two numbers in Python
def max_num(a,b):
  if a > b:
    return a
  elif b > a:
    return b
  else:
    print("both are equal")
a = int(input())
b = int(input())
print(max_num(a,b))

3
12
12

In [ ]:

# Q3 Python Program for factorial of a number
# recursive function

def fact_num(n):
  if n == 0 or n == 1:
    return 1
  else:
    return(n * fact_num(n-1))

n = int(input())
fact_num(n)

8

40320

In [ ]:
# Q4 Python Program for simple interest
# SI = (principal * interest * time(years))/100

def simp_int(p, r, t):
  return((p*r*t)/100)

p = float(input())
r = float(input())
t = float(input())

simp_int(p, r, t)

2000
2
3

120.0

In [ ]:
# Q5 Python Program for compound interest
# amount = p*(1 + r/100)**t
# CI = amount - p

def comp_int(p, r, t):
  amount =  p*(1 + r/100)**t
  return(round((amount-p),3))

p = float(input())
r = float(input())
t = float(input())
3

comp_int(p, r, t)

2000
2
3

122.416

In [ ]:
# Q6 Python Program to check Armstrong Number
# A number that equals the sum of its digits, each raised to a power. For ex., a number like 153 is an Armstrong no because 1^3 + 5^3 + 3^3 = 153

def arms_num(n):
  sum = 0
  for i in str(n):
    k = int(i)**len(str(n))
    sum += k
  if sum == n:
    print(f'{n} is an Armstrong number.')
  else:
    print(f'{n} is not an Armstrong number.')

arms_num(int(input()))

153
153 is an Armstrong number.

In [ ]:
# Q7 Python Program for Program to find area of a circle

import math

def circle_area(r):
  return(round((math.pi)* (r**2), 2))

r = int(input('Enter the radius of the circle - '))

circle_area(r)

Enter the radius of the circle - 4

50.27

In [15]:
# Q8 Python program to print all Prime numbers in an Interval

def prime_range(x, y):
  prime_list = []
  for i in range(x, y):
    if i == 0 or i == 1:
      continue
    else:
      for j in range(2, int(i/2)+1):
        if i % j == 0:
          break
      else:
        prime_list.append(i)
  return(print(prime_list))

a = int(input('Enter the first value of the interval - '))
b = int(input('Enter the last value of the interval - '))

prime_range(a, b)

Enter the first value of the interval - 2
Enter the last value of the interval - 27
[2, 3, 5, 7, 11, 13, 17, 19, 23]

In [11]:
# Q9 Python program to check whether a number is Prime or not

def prime_check(n):
  if n>1:
    for i in range(2, int(n/2)+1):
      if n%i == 0:
        print(f'{n} is not a prime number')
        break
    else:
      print(f'{n} is a prime number')
  else:
    print(f'{n} is not a prime number')

k = int(input('Enter a number - '))

prime_check(k)

Enter a number - 53
53 is a prime number

In [ ]:
# Q10 Python Program for n-th Fibonacci number
# 0 1 1 2 3 5 8 13 21 34 ...

def fibo_num():